<div class="row">
  <div class="col-md-4 about-left">
    <section id='side_body'>
      <%= link_to image_tag("logo.png", width: '100'), refinery.news_root_path -%>

      <h3 class="about-name">上海合気道秋风馆</h3>
      <!--导航 -->
      <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
      <p>邮箱： <a href="mailto:info@aki-aikido.com">info@aki-aikido.com</a></p>
      <%=raw @page.content_for(:side_body) %>
    </section>
  </div>
  <div class="col-md-8 about-right">
    <section id='main_body'>
      <% content_for :body do %>
      <%=raw @page.content_for(Refinery::Pages.default_parts.first[:title]) unless params[:page] %>

      <% if @items.any? %>
        <% @items.each do |item| %>
          <article class="news_item_truncated">
            <h2><%= link_to item.title, refinery.news_item_path(item) %></h2>
            <p>
              <small><%= t('.published') %> <%= l(item.publish_date, :format => :long) %></small>
            </p>
            <%#= truncate  item.body, :length => 200,
                          :omission => " ... #{link_to t('.read_more'), refinery.news_item_path(item)}",
                          :preserve_html_tags => true %>
          </article>
        <% end %>

        <%= will_paginate @items %>
      <% else %>
        <p><em><%= t('.no_items_yet') %></em></p>
      <% end %>
    <% end -%>

    <% content_for :body_content_right_prepend do -%>
      <%= raw @page.content_for(::Refinery::Pages.default_parts.first[:slug]) %>
    <% end if ::Refinery::Pages.default_parts.many? -%>
    <%= render '/refinery/news/shared/body_content_right' %>

    <%= render "/refinery/content_page" %>
    </section>
  </div>
</div>
