<div class="row">
  <div class="col-md-4 about-left">
    <section id='side_body'>
      <%= link_to image_tag("logo.png", width: '100'), refinery.news_root_path -%>

      <h3 class="about-name">上海合気道秋风馆</h3>
      <!--导航 -->
      <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
      <p>邮箱： <a href="mailto:info@aki-aikido.com">info@aki-aikido.com</a></p>
      <%=raw @page.content_for(:side_body) %>
    </section>
  </div>
  <div class="col-md-8 about-right">
    <section id='main_body'>
      <% content_for :body_content_title, @item.title %>
      <% content_for :body do %>
        <article class="news_item">
          <p>
            <small><%#= t('.published') %> <%#= l(@item.publish_date, :format => :long) %></small>
          </p>
          <% if @item.source.present? %>
            <p>
              <small><%= t('.source') %> <%= @item.source %></small>
            </p>
          <% end %>
          <%= @item.body.html_safe %>
          <p>
            <%= link_to t('.back_to_index'), refinery.news_items_path %>
          </p>
        </article>
      <% end %>
      <%# content_for :side_body, render(:partial => 'recent_posts') %>

      <%= render "/refinery/content_page" %>
    </section>
  </div>
</div>


